body {
    font-family: Arial;
    background-color: black;
    overflow: hidden;
}

.container {
    /*max-width: 1000px;*/
    color: white;
    line-height: 1.5;
    text-align: center;
    margin-top: 15%;
}

.container .welcome {
    font-size: 50px;
    line-height: 1.3;
    position: relative;
    animation: heading;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes heading {
    0% {
        top: -100px;
    }
    100% {
        top: 200px;
    }
}

.data {
    position: relative;
    animation-name: content;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes content {
    0% {
        left: -1000px;
        top: 200px;
    }
    100% {
        left: 0px;
        top: 200px;
    }
}

.huge {
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes slidein {
    0% {
        transform: rotate(0deg) scale(0) skew(0deg)
    }
    100% {
        transform: rotate(360deg) scale(5) skew(0deg)
    }
}