#main p{
    border: 20px solid black;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 5px;
}
a {
    text-decoration: none;
    color: azure;
    font-size: 24px;
}
a:hover {
    border-bottom: 1px dashed azure; /* Добавляем синее пунктирное подчёркивание */
}